/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/Motivational/images/motivational.jpg);
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  text-align: center;
  max-width: 600px;
   color: white; 
  padding: 20px;
}

.quote {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.author {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
   color: white; 
  margin-bottom: 30px;
}

button {
  background: none;
  border: 2px solid white;
   color: white; 
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #fff;
  color:white;
}
